:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

#cuerpo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    min-height: 500px;
}

#nro_presupuesto, #fecha_hoy {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    color: var(--azul);
}

#total {
    color: var(--azul);
    
}

.tabla {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

td {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    text-align: center;
}

#cuerpo #botones{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

