:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

#cuerpo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    
}

#titulo {
    padding: 20px;
}

#cuerpo #nosotros {
    text-align: left;
    margin: 50px 250px;
    padding: 1em;
    border: 1px dashed var(--azul);
    border-radius: 1em;
    background-color: var(--contraste);
}